<div id="Container">
  <form class="form" [formGroup]="usuarioForm" (ngSubmit)="onSubmitUpdate()">
    <div id="login-lable">Actualizar Mi Perfil</div>
    <p>todos los campos son obligatorios</p>

    <!-- Nombre -->
    <label for="nombre">Nombre:</label>
    <input
      class="form-content"
      type="text"
      id="nombre"
      formControlName="nombre"
      placeholder="Nombre"
    />

    <!-- Correo electrónico -->
    <label for="correo">Correo electrónico:</label>
    <input
      class="form-content"
      type="email"
      id="correo"
      formControlName="correo"
      placeholder="Correo electrónico"
    />

    <!-- Contraseña -->
    <label for="contrasena">Contraseña:</label>
    <input
      class="form-content"
      type="password"
      id="contrasena"
      formControlName="contrasena"
      placeholder="Contraseña"
    />

    <!-- Teléfono -->
    <label for="telefono">Teléfono:</label>
    <input
      class="form-content"
      type="text"
      id="telefono"
      formControlName="telefono"
      placeholder="Teléfono"
    />
    <!-- Botón Guardar -->
    <button
      class="form-button"
      type="submit"
      [disabled]="usuarioForm.invalid"
      data-cy="btn-save"
    >
      Guardar
    </button>

    <!-- Botón Cancelar -->
    <button
      class="form-button btn-cancel"
      type="button"
      (click)="onCancel()"
      data-cy="btn-cancel"
    >
      Cancelar
    </button>
  </form>

  <!-- SVG decorativos -->
  <div id="rays">
    <svg
      fill="none"
      viewBox="0 0 299 152"
      height="9em"
      width="18em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill="url(#paint0_linear_8_3)"
        d="M149.5 152H133.42L9.53674e-07 4.70132e-06H149.5L299 4.70132e-06L165.58 152H149.5Z"
      ></path>
      <defs>
        <linearGradient
          gradientUnits="userSpaceOnUse"
          y2="12.1981"
          x2="150.12"
          y1="152"
          x1="149.5"
          id="paint0_linear_8_3"
        >
          <stop stop-color="#00E0FF"></stop>
          <stop stop-opacity="0" stop-color="#65EDFF" offset="1"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div id="emiter">
    <svg
      fill="none"
      viewBox="0 0 160 61"
      height="61"
      width="160"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_di_1_38)">
        <path
          fill="#2B2B2B"
          d="M80 27.9997C121.974 27.9997 156 22.4032 156 15.4996L156 40.4998C156 47.4034 121.974 52.9998 80 52.9998C38.0265 52.9998 4.00028 47.4034 4 40.4998V40.4998V15.51C4.0342 22.4089 38.0474 27.9997 80 27.9997Z"
          clip-rule="evenodd"
          fill-rule="evenodd"
        ></path>
      </g>
    </svg>
  </div>
</div>
