<form [formGroup]="comentarioForm" (ngSubmit)="createComentario()" class="comentario-form">
  <div class="form-group">
    <label for="texto">Comentario:</label>
    <textarea id="texto" formControlName="texto"></textarea>
  </div>

  <div class="form-group">
    <label for="calificacion">Calificación (1 a 5):</label>
    <input type="number" id="calificacion" formControlName="calificacion" min="1" max="5" />
  </div>

  <div class="form-group">
    <label for="idAsesoria">ID Asesoría:</label>
    <input type="text" id="idAsesoria" formControlName="idAsesoria" />
  </div>

  <div class="form-buttons">
    <button type="submit" [disabled]="comentarioForm.invalid">Enviar</button>
    <button type="button" (click)="cancelCreation()">Cancelar</button>
  </div>
</form>
