body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  padding-bottom: 2rem !important; /* Espacio antes del footer */
}

:host {
  display: block;
}

html, body, app-root {
  height: 100%;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Altura del footer */
  margin-top: auto;
  background-color: #0b0b0b !important;
  color: white; /* Color del texto del footer */
  display: flex;
  justify-content: center;
  align-items: center;
}

