<div class="container mt-4 position-absolute start-0" style="top: 70px; left: 0; z-index: 1030; max-width: 350px;">
  <div class="row g-4">
    <!-- Tarjeta de perfil -->
    <div class="col-md-12">
      <div class="card text-center h-100" style="background-color: #c8e6c9;">
        <div class="card-body" style="background-color: #c8e6c9;">
          <h5 class="card-title" style="color: #2e7d32;">{{ estudiante.nombre }}</h5>
          <p class="card-text" style="color: #2e7d32;">{{ estudiante.correo }}</p>
          <button
            *ngIf="estudiante"
            class="btn"
            style="background-color: #4caf50; color: #fff; margin-left: 0.5rem;"
            [routerLink]="['/actualizar', estudiante.id]"
          >
            Actualizar mi usuario
          </button>
          <button [routerLink]="['filtrar-asesorias']" class="btn btn-dark">
            Explorar Asesorías
          </button>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="container mt-5">
      <h3 class="mb-3">Mis Asesorías</h3>

      <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="calendarEvents">
    </mwl-calendar-month-view>
    </div>

    <!-- Modal -->
    <ng-template #modalContent let-event="event">
      <div class="modal-header">
        <h4 class="modal-title">{{ selectedEvent?.title }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p><strong>Fecha:</strong> {{ selectedEvent?.start | date:'fullDate' }}</p>
        <p><strong>Hora:</strong> {{ selectedEvent?.start | date:'shortTime' }}</p>
        <p><strong>Estado:</strong> {{ selectedEvent?.meta?.reserva.estado }}</p>
        <p><strong>Comentario:</strong> {{ selectedEvent?.meta?.reserva.comentario?.texto || 'Sin comentarios' }}</p>
      </div>
    </ng-template>


<div class="container pt-5" style="max-width:800px;">


    <h2 class="mb-4">Bienvenido, {{ usuarioNombre }}!</h2>
  
    <div class="text-center mt-4">
      <button class="btn btn-primary" routerLink="/profesores">
        <i class="fa fa-search me-2"></i> Buscar nuevos profesores
      </button>
    </div>
  
  </div>
  

