<div class="container mt-4">
  <div class="row g-4">
    <!-- Perfil -->
    <div class="col-lg-4 col-md-5">
      <div class="card text-center h-100 perfil-card">
        <div class="card-body">
          <h5 class="card-title">{{ estudiante.nombre }}</h5>
          <p class="card-text">{{ estudiante.correo }}</p>
          <div class="d-flex flex-column gap-2">
            <button
              *ngIf="estudiante"
              class="btn btn-actualizar"
              [routerLink]="['/actualizar', estudiante.id]"
            >
              Actualizar mi usuario
            </button>
            <div *ngIf="estudiante">
            <button class="btn btn-explorar" [routerLink]="['/estudiante/home', estudiante.id, 'filtrar-asesorias']">
              Explorar Asesorías
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Calendario -->
    <div class="col-lg-8 col-md-7">
      <h3 class="mb-3 text-verde-oscuro">Mis Reservas</h3>
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [refresh]="refresh"
        (eventClicked)="handleEventClick($event.event)"
        class="calendar-green"
        style="min-height: 600px;"
      >
      </mwl-calendar-month-view>
    </div>


  <!---Componente modal calendario-->
      <ng-template #modalContent let-event="event">
      <div class="modal-header">
        <h4 class="modal-title">{{ selectedEvent?.title }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p><strong>Fecha:</strong> {{ selectedEvent?.start | date:'fullDate' }}</p>
        <p><strong>Hora:</strong> {{ selectedEvent?.start | date:'shortTime' }}</p>
        <p><strong>Estado:</strong> {{ selectedEvent?.meta?.reserva?.estado }}</p>
        <p><strong>Comentario:</strong> {{ selectedEvent?.meta?.reserva?.comentario?.texto || 'Sin comentarios' }}</p>
      </div>
    </ng-template>

    <div class="modal-footer"></div>
    <button
      class="btn btn-success"
      *ngIf="selectedEvent?.meta?.reserva?.estado === 'pendiente'"
      (click)="cambiarEstadoACompletada()">
      Marcar como completada
    </button>
    <button class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
    </div>

    <div *ngIf="mostrarFormularioComentario">
      <app-comentario-create></app-comentario-create>
    </div>

  <!-- Bienvenida y botón -->
  <div class="text-center mt-5">
    <h2 class="text-verde-oscuro">Bienvenido, {{ usuarioNombre }}!</h2>
    <button class="btn btn-buscar mt-3" routerLink="/profesores">
      <i class="fa fa-search me-2"></i> Buscar nuevos profesores
    </button>
  </div>
</div>
