<div class="container-fluid px-0 d-flex flex-column min-vh-100">

  <!-- Contenido principal -->
  <main class="flex-grow-1 px-0" style="background-image: url('/assets/resources/img00.png'); background-size: cover; background-position: center;">
    <section class="text-white text-center px-3 pt-5">
      <h1 class="display-3 mb-3" style="color: white; font-size: 100px; font-family: sans-serif;">
        ENCUENTRA TU TUTOR IDEAL
      </h1>
      <p class="lead mb-4" style="color: white; font-size: 40px; font-family: Arial, sans-serif;">
        TUTORIAS DE TODAS LAS MATERIAS: VIRTUAL, PRESENCIAL O HIBRIDO
      </p>
      <div class="input-group mb-5" style="max-width: 1000px; margin: 0 auto;">
        <input
          type="text"
          class="form-control"
          placeholder="¿Qué quieres aprender?"
          [(ngModel)]="searchTerm"
        />
        <button class="btn btn-primary" (click)="onSearch()">Buscar</button>
      </div>
    </section>

    <!-- Lista de profesores -->
    <section class="pb-5 px-3">
      <app-profesor-list></app-profesor-list>
    </section>
  </main>

</div>
