<div class="container mt-4">
  <h2 class="text-center">HU01 Daniel Vergara</h2>

  <div class="row mt-4">
    <div class="col-12 mb-4">
      <h3>Lista de profesores</h3>
      <app-profesor-list></app-profesor-list>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 mb-4">
      <h3>Crear profesor</h3>
      <app-profesor-create></app-profesor-create>
    </div>
  </div>

  <!-- <div class="row mt-4">
    <div class="col-12">
      <h3>Detalle del profesor</h3>
      <app-profesor-detail></app-profesor-detail>
    </div>
  </div> -->
</div>


<div class="container">
  <h2 class="text-center">HU Juan Manuel Rojas</h2>
  <h3>Update Perfil Profesor</h3>
  <app-profesor-update></app-profesor-update>

</div>
